<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <h1>TIME</h1>
    <h2>Person of the Year</h2>
    <p>Filter by Year</p>

    <form method="post">
        <label name="startYear">Start Year</label>
        <input name="startYear" type="number" />

        <label name="endYear">End Year</label>
        <input name="endYear" type="number" />

        <button type="submit">Submit</button>
    </form>
</body>
</html>
