<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <h1>Hello World</h1>
    <p>Demo</p>

    <form method="post">
        <label name="firstNumber">First Number</label>
        <input name="firstNumber" type="number" />

        <label name="secondNumber">Second Number</label>
        <input name="secondNumber" type="number" />

        <button type="submit">Submit</button>
    </form>
</body>
</html>
