@model List<MVCApp.Models.TimePerson>


<DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Results of numbers</h1>

    @foreach (var item in Model)
    {
        <h3>item.Name</h3>
        <h4>item.Category</h4>
    }
</body>
</html>