@model List<MVCApp.Models.TimePerson>


<DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Results</h1>

    @foreach (var item in Model)
    {
        <h2>item.Year</h2>
        <h2>item.Honor</h2>
        <h2>item.Name</h2>
        <h2>item.Country</h2>
        <h2>item.BirthYear</h2>
        <h2>item.DeathYear</h2>
        <h2>item.Title</h2>
        <h2>item.Category</h2>
        <h2>item.Context</h2>
    }
</body>
</html>